@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Roboto:wght@100&display=swap');
@import url("components/container.css");
@import url("components/brazilloc.css");
@import url("components/button.css");
@import url("components/banner.css");

body {
	font-family: 'Gruppo', serif;
 	font-size: 18 px;
}

h1, h2, h3 {
	font-family: 'Chivo', sans-serif;
	font-weight: bold;

}
a{
	text-decoration: none;
}
